EXPO_PUBLIC_TMDB_API_KEY=sua_api_key_aqui
EXPO_PUBLIC_TMDB_BASE_URL=https://api.themoviedb.org/3
EXPO_PUBLIC_TMDB_IMAGE_BASE=https://image.tmdb.org/t/p/w500
EXPO_PUBLIC_TMDB_BACKDROP_BASE=https://image.tmdb.org/t/p/w780
